@import url('https://fonts.googleapis.com/css?family=Gayathri:100,200,300,400,500,600,700');

/*---Landing Page---*/

.site-heading {
    background-color: #eae7dc;
    color: #e85a4f;
}

.site-name {
    font-family: 'Gayathri', sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.site-logo {
    margin-left: 10px;
}

.site-links {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.link-text {
    text-align: center;
    font-family: 'Gayathri', sans-serif;
    font-weight: 600;
}

#a-links {
    text-decoration: none;
    cursor: pointer;
    color: #e98074;
    transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

#a-links:hover {
    color: #e85a4f;
}

.site-brief {
    font-family: 'Gayathri', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

#image {
    padding: 0;
}

.main-images {
    opacity: 0.78;
}

img {
    height: 80vh;
}


/*---home.html---*/

.briefs {
    font-family: 'Gayathri', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin: 0;
    color: #e85a4f;
}

.n {
    background-color: lightblue;
    height: 80vh;
}

.m {
    background-color: lightpink;
    height: 80vh;
}


/*---Footer---*/

.footer {
    height: 75px;
    text-align: center;
    font-weight: 700;
    font-family: 'Gayathri', sans-serif;
    padding-top: 15px;
    background-color: #eae7dc;
    color: #e85a4f;
}

.fa-google {
    margin-left: 5px;
}

/*---Media Queries---*/

@media(min-width: 767px){
    .site-name {
        text-align: left;
    }
    .site-brief {
        font-size: 18px;
    }
}

/*---JS css--*/
