@import url('https://fonts.googleapis.com/css?family=Gayathri:100,200,300,400,500,600,700');

/*---Landing Page & Headings---*/

.site-heading {
    background-color: #eae7dc;
    color: #e85a4f;
}

.site-name {
    font-family: 'Gayathri', sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.site-logo {
    margin-left: 10px;
}

.site-links {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.link-text {
    text-align: center;
    font-family: 'Gayathri', sans-serif;
    font-weight: 600;
}

.a-links {
    text-decoration: none;
    cursor: pointer;
    color: #e98074;
    transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

.a-links:hover {
    color: #e85a4f;
}

.site-brief {
    font-family: 'Gayathri', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

#image {
    padding: 0;
}

.main-images {
    opacity: 0.78;
}

img {
    height: 85vh;
}

.briefs {
    font-family: 'Gayathri', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin: 0;
    color: #e85a4f;
}

#infoButton {
    display: inline-block;
    margin-bottom: 5px;
    background-color: #e85a4f;
    color: #eae7dc;
    border: solid 1px grey;
    box-shadow: none;
    transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
}

#infoButton:hover {
    background-color: #fd9b90;
}

.button-align {
    text-align: center;
}

/*---Planner.html (Form css)---*/

.inline-buttons {
    text-align: center;
}

.info-card {
    border: none;
    background-color: #eae7dc;
}

#button {
    background-color: #e85a4f;
    color: #eae7dc;
    width: 100%;
    box-shadow: none;
    border: solid 1px grey;
    transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
}

#button:hover {
    background-color: #fd9b90;
}

#sponserButton {
    display: inline-block;
    margin: 20px 15px 20px 15px;
    background-color: #e85a4f;
    color: #eae7dc;
    border: solid 1px grey;
    box-shadow: none;
    transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
}

#sponserButton:hover {
    background-color: #fd9b90;
}

#countryButton {
    display: inline-block;
    margin: 20px 15px 20px 15px;
    background-color: #e85a4f;
    color: #eae7dc;
    border: solid 1px grey;
    box-shadow: none;
    transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
}

#countryButton:hover {
    background-color: #fd9b90;
}

.pac-card {
    margin: 10px 10px 20px 10px;
    border-radius: 2px 0 0 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #eae7dc;
    font-family: 'Gayathri', sans-serif;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.title {
    color: #eae7dc;
    background-color: #e85a4f;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

.filter-title {
    margin-top: 10px;
}

.filterButtons {
    margin: 10px 10px 10px 25px;
}

#findhotels {
    margin: 5px 10px;
}

#listing {
    position: absolute;
    width: 220px;
    height: 350px;
    overflow: auto;
    right: 2px;
    top: 10px;
    cursor: pointer;
    overflow-x: hidden;
    display: none;
}

#autocomplete {
    width: 50%;
    margin-bottom: 5px;
}

#country {
    width: 48.5%;
    margin-left: 9px;
    margin-bottom: 5px;
}

#resultsTable {
    border-collapse: collapse;
    width: 240px;
}

.infoCard {
    font-family: 'Gayathri', sans-serif;
    font-weight: 600;
    background-color: #e85a4f !important;
    color: #eae7dc;
    border: solid 2px grey !important;
}

.card-link {
    text-decoration: none;
    color: #eae7dc;
}

.flag {
    height: 50px;
    width: 70px;
}

.us-flag {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.extra {
    display: none;
}

.usa {
    display: none;
}

/*---Sponser Modal---*/

#pop-up {
    background-color: #e85a4f;
    height: auto;
    border: solid 3px #eae7dc;
}

.sponser-titles {
    margin-top: 10px;
    margin-left: 15px;
    color: #eae7dc;
    text-decoration: underline;
}

.sponser-text {
    margin-top: 10px;
    margin-left: 15px;
    color: #eae7dc;
}

.sponser-links {
    color: black;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

.sponser-links:hover {
    color: black;
}

/*---Map---*/

#map {
    min-height: 78vh;
    margin-top: 10px;
}

.map-section {
    background-color: #eae7dc;

}

#locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 0 10px;
    margin-bottom: 5px;

}

#controls {
    -webkit-box-flex: 1 1 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
}

#rating {
    font-size: 13px;
    font-family: 'Gayathri', sans-serif Unicode MS;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}

/*---Footer---*/

.footer {
    height: 85px;
    text-align: center;
    font-weight: 700;
    font-family: 'Gayathri', sans-serif;
    padding-top: 20px;
    background-color: #eae7dc;
    color: #e85a4f;
}

.fa-google {
    margin-left: 5px;
}

/*---Media Queries---*/

@media(min-width: 767px) {
    .site-name {
        text-align: left;
    }
    .site-brief {
        font-size: 18px;
    }
    #infoButton {
        margin: 10px;
    }

}

@media(min-width: 1023px) {
    #listing {
        display: block;
    }
}
